<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/" style="">
      <h2>Namebrand</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link no-ul" href="/search"><i class="material-icons">
              search
            </i></a>
        </li>
        <% if(user != null){ if(user.account == "admin" || user.account == "superadmin") { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin"><i class="material-icons">
                supervisor_account
              </i></a>
          </li>
        <% } } %>
        <span class="navbar-text d-none d-sm-block">
        |
       </span>

        <% if(user != null){ %>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" style="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">
                notifications_none
              </i>

            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style=" z-index: 99999;">
              <span class="dropdown-menu-arrow d-none d-sm-block"></span>
              <% if(user.notifications.length <= 0){ %>
                <span class="text-muted text-nice" style="text-align: center; padding: 1em 6em; display: block; white-space: nowrap;">No Notifications</span>
              <% }else{ %>
              <% user.notifications.forEach((notification) => {%>
                  <a class="dropdown-item" href="<%= notification.redict %>"><%= notification.title %></a>

                <% }); %>
              <% } %>
            </div>

          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" style="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.username %>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="z-index: 99999;">
              <span class="dropdown-menu-arrow d-none d-sm-block"></span>
              <div class="d-flex flex-row" style="padding:0.5em 1em">
                <div class="p-1"><div class="inline-text-image" style="background-image: url(<%= user.picture %>);"></div></div>
                <div class="p-2"><h6 class="dropdown-header dropdown-container" style="padding:0; color:#000;"><%= user.firstname %> <%= user.lastname %></h6><br><span class="text-muted text-sm">/u/<%= user.username %></span></div>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/new/article">New Post</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/u/<%= user.username %>">Profile</a>
              <a class="dropdown-item" href="/profile">Settings</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        <% }else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<% if(typeof trending != 'undefined'){ %>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top d-none d-sm-block" style="height: 3em; box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}">
  <div class="container" >
    <div class="d-flex justify-content-between" style="font-family: 'IBM Plex Sans Light'; font-size:14px; width: 100%; opacity: 0.8; text-transform: uppercase; font-weight: 400;">
      <div class="p-2">U.S.</div>
      <div class="p-2">World</div>
      <div class="p-2">Politics</div>
      <div class="p-2">Opinion</div>
      <div class="p-2">Business</div>
      <div class="p-2">Tech</div>
      <div class="p-2">Health</div>
      <div class="p-2">Economy</div>
      <div class="p-2">Entertainment</div>
      <div class="p-2">Election 2020</div>
    </div>
  </div>
</nav>
<% } %>
