<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs"); %>

<body>
<%- include("partials/nav.ejs"); %>

<div class="container" style="margin-top:16px;">
    <% let featured = posts[0] %>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-4 p-md-5 rounded bg-dark fade-left"
                 style="min-height:22rem; background-image: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5723476890756303) 41%, rgba(0,0,0,0) 100%), url(<%= featured.picture %>); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    <div class="col-md-6 px-0 " style="color: #fff;">
                        <h1 class="display-5"><%= featured.title %></h1>
                        <p class="lead my-3"><%= featured.body.replace(/<\/?[^>]+(>|$)/g, "").substr(0, 256) %></p>
                        <p class="lead mb-0"><a href="/post/<%= featured._id %>" class="font-weight-bold" style="color: #fff;">Continue
                                reading...</a></p>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <% posts.slice(1).forEach(post => { %>
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary text-uppercase"><%= post.section.map(sec => sec.toUpperCase()).join(", "); %></strong>
                        <h5 class="mb-0"><%= titles(post.title) %></h5>
                        <div class="mb-1 text-muted"><%= timeSince(new Date(post.date)) %> ago</div>
                        <p class="card-text mb-auto"><%= post.body.replace(/<\/?[^>]+(>|$)/g, "").substr(0, 128) %></p>
                        <a href="/post/<%= post._id %>" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                       <img src="<%= post.picture %>" width="200" style="height: 100%; object-fit: cover;">
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

    <div class="col-md-4">
        <div style="text-align: center">
            <span class="text-muted">Copyright &copy; <%= new Date().getFullYear() %></span>
            <br>
            <div class="footer-links">

                <a href="mailto:legal@namebrandnews.com" class="text-muted">legal</a> &bull;
                <a href="/privacy" class="text-muted">privacy</a> &bull;
                <a href="/terms" class="text-muted">terms</a><br>
            </div>
        </div>
    </div>

</div>


</body>
<%- include("partials/footer.ejs"); %>

</html>

<%
function titles(title) {
    let t = title.substring(0, 28);
    if (t.length >= 27) t += "...";
    return t;
}

function timeSince(date) {

    var seconds = Math.floor((new Date() - date) / 1000);

    var interval = Math.floor(seconds / 31536000);

    if (interval >= 1) {
        return interval + " years";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval >= 1) {
        return interval + " months";
    }
    interval = Math.floor(seconds / 86400);
    if (interval >= 1) {
        return interval + " days";
    }
    interval = Math.floor(seconds / 3600);
    if (interval >= 1) {
        return interval + " hours";
    }
    interval = Math.floor(seconds / 60);
    if (interval >= 1) {
        return interval + " minutes";
    }
    return Math.floor(seconds) + " seconds";
}
var aDay = 24 * 60 * 60 * 1000
%>
