<!DOCTYPE html>
<html lang="en" <% if(user != null){ %>data-theme="<%= user.theme %>"
<% }else{ %> data-theme="dark"
        <% } %>
>
<%- include("partials/header.ejs"); %>

<body>
<%- include("partials/nav.ejs"); %>

<% if (typeof query == 'undefined') query = ""; %>
<div class="container" style="margin-top:32px;">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form action="/search/" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search"
                           value="<%= query %>">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div class="search-header">

                <% if(posts != null || users != null){ %>
                    <span class="text-dark text-xl">Search results:</span>
                    <span class="text-muted text-sm">Query returned <%= posts.length + users.length %> item(s) in <%= time %> seconds.</span>
                <% } %>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <% if(typeof users != 'undefined' && users != null){ %>
                        <span class="text-dark text-xl">Users:</span>
                        <% users.forEach(function(usr){ %>
                            <a href="/u/<%= usr.username %>" class="no-bs">
                                <div class="post-inline">
                                    <div class="post-inline-element margin-right">
                                        <img src="<%= usr.picture %>" class="post-inline-image">
                                    </div>
                                    <div class="post-inline-element">
                                        <span class="post-inline-title"><%= usr.username %></span>
                                    </div>
                                </div>
                            </a>

                    <% }); } if(typeof users != 'undefined'){ if(users.length == 0){ %>
                        <span class="text-muted">No results found for "<i><%= query %></i>"</span>
                    <% }} %>
                </div>
            </div>

            <% if(posts != null){ %>
                <br>
                <span class="text-dark text-xl">Articles:</span>
            <div class="row">
                <% posts.forEach(post => { %>
                    <div class="col-md-12">
                        <div class="d-flex " style="max-height: 10em; word-break: normal; margin-bottom: 32px;">
                            <div class="p-2 flex-grow-1" style="width: 100%;">
                                <h5 class="post-section"><%= post.section.toUpperCase() %></h5>
                                <h4 class="post-title"><%= titles(post.title) %></h4>
                                <span class="post-desc d-none d-sm-block"><%= post.desc %></span>
                                <div class="d-flex justify-content-between">
                                    <div class="p-2" style="padding:0 !important;">
                                        <span class="post-source"><%= post.owner.firstname %> <%= post.owner.lastname %></span>
                                        <span class="post-meta"> <%= new Date(post.date).toDateString() %></span>
                                    </div>

                                </div>
                            </div>
                            <div class="p-2">
                                <div style="background-image: url(<%= post.picture %>); width: 10em; height:100%; background-position: center; background-size: cover"></div>
                            </div>
                        </div>
                    </div>
                <% }); } if(typeof posts != 'undefined'){ if(posts.length == 0){ %>
                    <div class="col-md-12">
                        <span class="text-muted">No results found for "<i><%= query %></i>"</span>
                    </div>
                <% } } %>
            </div>
        </div>
        <br>
    </div>
</div>
</body>

</html>
<%
function timeSince(date) {

    var seconds = Math.floor((new Date() - date) / 1000);

    var interval = Math.floor(seconds / 31536000);

    if (interval > 1) {
        return interval + " years";
    }
    interval = Math.floor(seconds / 2592000);
    if (interval > 1) {
        return interval + " months";
    }
    interval = Math.floor(seconds / 86400);
    if (interval > 1) {
        return interval + " days";
    }
    interval = Math.floor(seconds / 3600);
    if (interval > 1) {
        return interval + " hours";
    }
    interval = Math.floor(seconds / 60);
    if (interval > 1) {
        return interval + " minutes";
    }
    return Math.floor(seconds) + " seconds";
}
var aDay = 24 * 60 * 60 * 1000;
%>
