<!DOCTYPE html>
<html lang="en" <% if(user != null){ %>data-theme="<%= user.theme %>" <% }else{ %> data-theme="dark" <% } %>>
<%- include("partials/header.ejs"); %>

<body>
  <%- include("partials/nav.ejs"); %>
  <div class="container" style="margin-top:32px;">
    <div class="row" style=" margin-bottom:16px;">
      <div class="col-md-12">
        <div class="card">
          <div class="user-card">
            <div class="cont">
              <img src="<%= target.picture %>" class="user-img">
            </div>
            <div class="cont">
              <span class="title"><%= target.firstname %> <%= target.lastname %></span>
              <span class="sub-title">Following: <b><%= target.following.length %></b> Followers: <b><%= followers.length %></b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <% var c = false;
        user.following.forEach(function(tar){
        if(tar._id.toString() == target._id.toString()){
        c = true;
        }
      });
      %>
        <% if(c){ %>
        <a href="/u/<%= target._id %>/unfollow" class="btn btn-secondary">Unfollow</a>
        <a href="/messages/?to=<%= target._id %>" class="btn btn-primary">Message</a>
        <%}else{%>
        <a href="/u/<%= target._id %>/follow" class="btn btn-primary">Follow</a>
        <% } %>

      </div>
      <div class="col-md-8">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-topics" role="tab" aria-controls="pills-home" aria-selected="true">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-comments" role="tab" aria-controls="pills-profile" aria-selected="false">Comments</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-topics" role="tabpanel" aria-labelledby="pills-home-tab"><% topics.forEach(function(topic){ %>
            <a href="/topic/<%= topic._id %>" class="no-bs">
              <div class="topic-inline">
                <div class="topic-inline-element margin-right">
                  <img src="<%= topic.owner.picture %>" class="topic-inline-image">
                </div>
                <div class="topic-inline-element">
                  <span class="topic-inline-title"><%= topic.title %></span>
                  <span class="topic-inline-subtext">Last updated <strong><%= timeSince(new Date(topic.date)) %> ago</strong></span>
                </div>
                <div class="topic-inline-preview">
                  <span class="topic-inline-preview-text"><%- topic.body %></span>
                </div>
              </div>
            </a>
            <% }); %></div>
          <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-profile-tab">
            <ul>
              <% comments.forEach(function(comment){ %>
              <li class="comment">
                <div class="comment-inline">
                  <span class="title"><a href="/u/<%= comment.user.username %>" class="no-bs"><%= comment.user.username %></a></span>
                </div>
                <span class="sub-title">posted <strong><%= timeSince(new Date(comment.date)) %></strong> ago</span>
                <p><%= comment.text %></p>
              </li>
              <% }); %>
              <% if(comments.length <= 0){ %>
              <li class="comment">
                <span class="title">No comments</span>
              </li>
              <% } %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>

<%

function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval >= 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval >= 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval >= 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval >= 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval >= 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}
var aDay = 24*60*60*1000
%>
